<div style="text-align: center;">
    You were invited you to join a company Team at the FOND OF Partnershop.<br>
    Open this link to activate your account:<br>
    <a href="{{ mail.customer.restorePasswordLink }}">[link]</a>
</div>
